* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  align-items: center;
  padding: 30px 20px;
  
}
  .title {
    font-size: 36px;
    font-weight: 600;
    text-shadow: 0 3px 5px rgba(0,0,0,0.1);
  }

  .nav-links {
       display: flex;
       list-style:none;
       gap:40px;
}


  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    transition: all 0.3s ease;
    position: relative;
  }


 
  

  .nav-links li a::after {
    content: "";
    position: absolute;
    bottom:-3px;
    left:0;
    width:0%;
    height: 2px;
    background: #005eff;
    transition: width 0.3s;
  }

  .nav-links li a:hover::after {
    width: 100%;
  }

  .nav-links li a:hover {
    color:#005eff
  }


  .humburger {
    display: flex;

  }

@media (max-width : 480px)  {
  .nav-bar {
    width: 100px;
    max-width: 100%;
  }

  .title {
    font-size: 24px;
    font-weight: 400;
  }


  .nav-links {
    display: none;
    
  }
}