* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  align-items: center;
  padding: 30px 5%;

  
}
  .title {
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 3px 5px rgba(0,0,0,0.1);
  }

  .hamburger {
  display: none;
  justify-content: space-between;
  width: 30px;
  flex-direction: column;
  height: 24px;
  background: transparent;
  border:none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;

  }
  .hamburger span {
   display: block;
   height: 3px;
   width: 100%;
   border-radius:3px;
   background-color: #333;
   transition: all 0.3s ease;
  }

  .nav-links {
       display: flex;
       list-style:none;
       gap:40px;
}


  .nav-links li a {
    color: black; 
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    transition: all 0.3s ease;
    position: relative;
  }


 
  

  .nav-links li a::after {
    content: "";
    position: absolute;
    bottom:-3px;
    left:0;
    width:0%;
    height: 2px;
    background: #005eff;
    transition: width 0.3s;
  }

  .nav-links li a:hover::after {
    width: 100%;
  }

  .nav-links li a:hover {
    color:#005eff
  }


@media (max-width : 768px)  {
body {
   padding-top: 70px;

  }
.nav-bar {
  padding: 15px 5%;
}
.hamburger {
  display: flex;

}


.title {
  font-size: 20px;
}
.nav-links {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 100%;
  right: 0;
  width: 70%;
  max-width: 300px;
  background: white;
  box-shadow: 0 15px 20px rgba(0,0,0,0.1);
  border-radius: 0 0 0 20px;
  padding: 2rem 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.nav-links.active {
  display: flex;
  transform: translateX(0);
}


.nav-links li {
  text-align: center;
  padding:1rem 0;
  border-bottom: 1px solid #f0f0f0;   
}

.nav-links a {
  width: 100%;
  font-size: 1rem;
  display: block;
}

.nav-links li a:last-child {
  border-bottom: none;
}
.nav-links li a::after {
  display: none;
}


.hamburger.active span:nth-child(1) {
  transform: translateY(10.5px)  rotate(45deg);
}

.hamburger.active span:nth-child(2)  {
  opacity: 0;
}

.hamburger.active span:nth-child(3)  {
  transform:translateY(-10.5px) rotate(-45deg)  ;
}
}




@media (max-width:480px)   {
  .nav-links{
    width: 80%;
  }

}